#header{
    background-color: #ef7f1a;
    width: 100%;
    height: 3rem;
    position: absolute;
    right: 0;
    top: 0;
}

#logo{
    font-size: 3rem;
    color: #e6e1a4;
}

#icon{
    font-size: 2rem;
    height: 100%;
    color: white;
}

#header_profile{
    color: white;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    text-align: right;
    height: 100%;

    & > p {
        display: inline-block;
        vertical-align: middle;
        line-height: 3rem;
        height: 100%;
        margin: 0 0.5rem;
    }
}