html, body{
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    overflow: hidden;
}

.Container{
    //background-color: #e6e1a4;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.secondary_color{
    background-color: #f29a4e;
}

#side_menu{
    position: absolute;
    width: 15vw;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#root{
    width: 100%;
    height: 100%;
}

#content {
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    color: #444444;
    flex-grow: 1;
}

.text-input{
    background-color: #fff;
    border-radius: 0.3rem;
}

#button{
    background-color: #ef7f1a;
    color: #fff;
}