#login-form{
    height: fit-content;
    margin: auto;
    padding: 0.5rem;
    align-self: center;
    width: 70vw;
}

#login-form > *{
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
}
