.orderComp{
    width: 10rem;
    height: fit-content;
    margin: 1rem;
}

.ordered{
    margin-top: 0;
    background-color: rgb(75, 75, 207);
    height: 1.5rem;
}

.cooking{
    margin-top: 0;
    background-color: rgb(230, 112, 43);
    height: 1.5rem;
}

.delivering{
    margin-top: 0;
    background-color: rgb(92, 180, 30);
    height: 1.5rem;
}