@use "../../shared/styles/_variables" as *;

.action-buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  
  .btn {
    padding: 0.5rem;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
