@import "../../shared/styles/_variables";

.dishes-header {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  
  .add-button {
    padding: 0.75rem 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
}

