@import "../../shared/styles/_variables";

#orderContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    gap: 1.5rem;
    max-width: 100%;
    min-height: 50rem;
    color: #3c2816;
}